* {
  color: #fff;
  box-sizing: border-box;
  background-color: rgb(70, 137, 179);
  margin-top: 10px;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  color: beige;
  font-size: larger;
  font-size: 22px;
  text-align: center;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  list-style-type: none;
  padding-inline-start: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

.emojiContainer {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: lightblue;
  border-radius: 8px;
  font-size: 74px;
}

.typing-animation {
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid;
  white-space: nowrap;
  animation:
    typing 2s steps(40, end),
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.activePlayer {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.playersTurn {
  font-size: larger;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
